<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors and Partners</h2>
                </div>
            </div>
            <div class="sponsors">
                <div>
                    <img src="img/logos/achd-logo.jpg" class="sponsor-logos" alt="ACHD logo">
                </div>
                <div>
                    <img src="img/logos/ai2c-logo.jpg" class="sponsor-logos" alt="AI2C logo">
                </div>
                <div>
                    <img src="img/logos/army-logo.png" class="sponsor-logos" alt="US Army logo">
                </div>
                <div>
                    <img src="img/logos/darpa-logo.png" class="sponsor-logos" alt="DARPA logo">
                </div>
                <div>
                    <img src="img/logos/highmark-logo.png" class="sponsor-logos" alt="Highmark logo">
                </div>
                <div>
                    <img src="img/logos/llnl-logo.png" class="sponsor-logos" alt="LLNL logo">
                </div>
                <div>
                    <img src="img/logos/naa.png" class="sponsor-logos" alt="NAA logo">
                </div>
                <div>
                    <img src="img/logos/nih.png" class="sponsor-logos" alt="NIH logo">
                </div>
                <div>
                    <img src="img/logos/nsf.png" class="sponsor-logos" alt="NSF logo">
                </div>
                <div>
                    <img src="img/logos/phda.jpg" class="sponsor-logos" alt="PHDA logo">
                </div>
                <div>
                    <img src="img/logos/usdhs.png" class="sponsor-logos" alt="USDHS logo">
                </div>
            </div>
        
            <!--<div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>-->
        </div>
    </aside>
