<!-- Clients Aside -->
<section id="event-sponsors" class="donations">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-heading">Thank you Event Sponsors!</h2>
        </div>
        <div class="sponsor-container">
            <div class="row sponsors-flex" id="tera">
                <h3 class="sponsor-logos">Andrew Moore </br>& Mary Soon Lee</h3>
                <img src="img/sponsors/president_cmu.png" class="sponsor-logos" alt="President of CMU logo">
            </div>
            <div class="row sponsors-flex" id="giga">
                <img src="img/sponsors/PRHI_logo.png" class="sponsor-logos" alt="PHRI logo">
                <h4 class="sponsor-logos">Globodon</h4>
                <img src="img/sponsors/edwards_logo.jpg" class="sponsor-logos" alt="Edwards logo">
                <img src="img/sponsors/auton_systems.png" class="sponsor-logos" alt="Auton Systems logo" style="height: 70px !important;">
            </div>
            <div class="row sponsors-flex" id="mega">
                <h5 class="sponsor-logos">Kan Deng</h5>
                <img src="img/sponsors/marinus_logo.png" class="sponsor-logos" alt="Marinus Analytics logo">
                <h5 class="sponsor-logos">Madalina Fiterau</h5>
                <img src="img/sponsors/deshaw_logo.png" class="sponsor-logos" alt="DE Shaw & Co logo">
                <h5 class="sponsor-logos">Devon & David Pablo Cohn</h5>
            </div>
        </div>
        <div class="text-center" style="padding-top: 40px;">
            <h3>Donation Instructions</h3>
            <p><a href="https://give.cmu.edu/pmtx/giving?appeal=A6692">Click here to go to the CMU Donation Portal</a></p>
            <img class="donation-instructions" src="img/donation-info.png" style="width: 40vw; min-width: 100px; max-width: 700px; padding-top: 20px; padding-bottom: 30px;">
        </div>
        <div class="row text-center">
            <h4>Sponsorship Packages</h4>
            <img class="sponsorship-tiers" src="img/sponsor-tiers.png" style="width: 75vw; max-width: 800px; padding-top: 20px; padding-bottom: 30px;">
        </div>
    </div>
</section>
