<!-- Clients Aside -->
    <section id="scrapbook" class="banner-primary">
        <div class="container">
            <div class="row">
                <div class="text-center">
						<a style="color:white" href="https://photos.app.goo.gl/vyH64VSWrVZSjPoG8">Photos and Videos</a>
						<p style="font-family:Roboto Slab"> Please upload anything you would like to add to the publicly accessible, digital scrapbook of Auton history! (group photos, video greetings, etc.) </p>
                </div>
            </div>
        </div>
    </section>
	<section id="memories" class="banner-tertiary">
        <div class="container">
            <div class="row">
                <div class="text-center">
						<a style="color:white" href="https://forms.gle/q6mCvhca25nWLb9m6">Lab Memories</a>
						<p style="font-family:Roboto Slab"> Help us reconstruct the lab's history with stories and data!</p>
                </div>
			</div>
		</div>
	</section>

