<!-- Portfolio Grid / Speakers Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Highlighted Current Work</h2>
                    <h3 class="section-subheading text-muted">While the field has changed over time, our commitment to developing Artificial Intelligence with Real-World Impact remains true to our founding. We translate challenges in the practice of AI into fundamental research that furthers the science of AI.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="" style="width: 500px; height: 289px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
