<!-- Clients Aside -->
<!-- Portfolio Grid / Speakers Section -->
    <section id="schedule">
        <div class="container">
            <h2 class="section-heading" style="text-align: center;">Event Schedule</h2>
            <div class="row">
                <div class="col-lg-12 ">
                    <table class="tableizer-table">
                    <thead><tr class="tableizer-firstrow">
                    <th colspan="3">Friday, September 8th</th></thead>
                        <tbody>
                            <tr class="table-secondrow"><td>Time</td><td>Event</td><td>Details</td></tr>
                            <tr><td>0800-0900</td><td>Breakfast</td><td>&nbsp;</td></tr>
                            <tr><td>0915-1045</td><td>Invited Talks</td><td>1993-2003</td></tr>
                            <tr><td>0900-0915</td><td>Opening Remarks</td><td>&nbsp;</td></tr>
                            <tr><td>1230-1400</td><td>Lunch + Posters</td><td>&nbsp;</td></tr>
                            <tr><td>1100-1230</td><td>Invited Talks</td><td>2003-2013</td></tr>
                            <tr><td>1530-1630</td><td>Panel Discussion</td><td>2023-2033</td></tr>
                            <tr><td>1400-1530</td><td>Invited Talks</td><td>2013-2023</td></tr>
                            <tr><td>1700-1830</td><td>Dinner</td><td>&nbsp;</td></tr>
                            <tr><td>1630-1700</td><td>hackAuton Kickoff</td><td>&nbsp;</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding-top: 4vh;">
                    <table class="tableizer-table">
                        <thead><tr class="tableizer-firstrow">
                            <th colspan="3">Saturday, September 9th</th></tr></thead>  
                        <tbody>
                            <tr class="table-secondrow"><td>Time</td><td>Event</td><td>Details</td></tr>
                            <tr><td>0800-0900</td><td>Walk through Schenley</td><td>&nbsp;</td></tr>
                            <tr><td>1200</td><td>Lunch</td><td>&nbsp;</td></tr>
                            <tr><td>0900-1800</td><td>Picnic</td><td>&nbsp;</td></tr>
                            <tr><td>1500</td><td>Spiritwear</td><td>&nbsp;</td></tr>
                            <tr><td>1400</td><td>Birthday Cake</td><td>&nbsp;</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding-top: 4vh;">
                    <table class="tableizer-table">
                        <thead><tr class="tableizer-firstrow">
                            <th colspan="3">Sunday, September 10th</th></tr></thead>  
                        <tbody>
                            <tr class="table-secondrow"><td>Time</td><td>Event</td><td>Details</td></tr>
                            <tr><td>1000-1200</td><td>Brunch</td><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
                    <!--<h2 class="section-heading">Event Schedule</h2>
					<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSLR573n21KaLkgdVsxZVkIr1uulzKfJmFS5_ay5LxdMaRFPzlSMc9oHlc6CfFJD2pQmR3gj3xG-IxN/pubhtml?gid=0&amp;single=true&amp;widget=false&amp;headers=false" width="500" height="680" scrolling="no"></iframe>
                    -->

			
        </div>
    </section>
