<!-- Services / When-Where Section -->
    <section id="event">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 style="line-height: 30pt; text-align: left; padding-bottom: 1vh;">About the Auton Lab</h3>
                    <p style="line-height: 15pt; text-align: left;">The Auton Lab at Carnegie Mellon University is a leading research facility focused on artificial intelligence and machine learning. Our interdisciplinary team of experts collaborates to develop cutting-edge algorithms and systems that solve complex real-world problems. As a participant at our HackAuton event, you have the opportunity to engage with lab members, apply your skills, work with peers, learn from mentors, and tackle an exciting challenge in competition for a prize. Join us at the 2023 HackAuton event to contribute of groundbreaking research and help shape the future of AI and ML!</p>
                    <!--<p class="section-subheading text-muted" style="line-height: 20pt; text-align: center;">Looking for a way to showcase your problem-solving skills in machine learning, data science, or AI?</br><a href="#rsvp"> RSVP</a> for your spot today!</p></p>-->
				</div>
            </div>
           <!-- <div class="row text-center">
                <div class="col-sm-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">When</h4>
                    <p class="text-muted">Friday, September 15th - </br>Sunday, September 17th 2023</a></p>
                </div>
                <div class="col-sm-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Where</h4>
                    <p class="text-muted"><a target="_blank" href="https://goo.gl/maps/4VcM4dkKp5ykU3ds7">Newell Simon Hall Atrium, </br>Carnegie Mellon University</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>   -->
            </div>
        </div>
    </section>
