<!-- Services / When-Where Section -->
<section id="front-timeline" class="grey-tile">
    <h4 style="line-height: 30pt; text-align: center; padding-bottom: 1vh;">Event Timeline</h4>
<div class="timeline-container">
    <div class="timeline-item" style="padding-left: 60px;">
        <div class="emoji">📮</div>
        <div class="timeline-item-description">
            <h6 class="timeline-title">Registration<br><span class="date">7/21/2023 - 9/08/2023</span></h6>
            <p class="timeline-description">All CMU students are welcome to apply during this period.</p>    
        </div>
    </div>
    <div class="timeline-item" style="padding-left: 20px; padding-right: 20px;">
        <div class="emoji">🏁</div>
        <div class="timeline-item-description">
            <h6 class="timeline-title">Event Kickoff<br><span class="date">9/15/2023 - 9/17/2023</span></h6>
            <p class="timeline-description">A kickoff session to lay out the challenge topics, meet your mentors, and get accustomed to the workspace.</p>
        </div>
    </div>
    <div class="timeline-item" style="padding-right: 60px;">
        <div class="emoji">🎉</div>
        <div class="timeline-item-description">
            <h6 class="timeline-title">Judgement Day<br><span class="date">9/17/2023</span></h6>
            <p class="timeline-description">The participants' findings will be presented to a panel of judges to determine the event's winning teams!</p>
        </div>
    </div>
</div>
</section>
